* { margin: 0; padding: 0 }
.hero {
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    height: 45vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero > h1, img {
    color: white;
    font-size: 4em;
}

.container {
    padding-top: 2em;
    background-color: #ddd5d0;
    height: 50vh;
    width: 100%;
    text-align: center;

}

#gato {
    height: 50%;
    padding-right: 0.25em;
}

.card {
    position: absolute;
    left: 35%;
    width: 30vw;
}

#caixa-texto {
    width: 100%;
    height: 25vh;
}